
/*
このファイルは `yarn webfont` で自動生成されています
custom-icons.less.njkを編集してください
*/

@font-face {
  font-family: 'n-air';
  src: url('../fonts/n-air.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'n-air' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@n-air--codepoint--NDI: "\ea01";
.icon-NDI:before {
  content: @n-air--codepoint--NDI;
}

@n-air--codepoint--add: "\ea02";
.icon-add:before {
  content: @n-air--codepoint--add;
}

@n-air--codepoint--add-file: "\ea03";
.icon-add-file:before {
  content: @n-air--codepoint--add-file;
}

@n-air--codepoint--add-folder: "\ea04";
.icon-add-folder:before {
  content: @n-air--codepoint--add-folder;
}

@n-air--codepoint--adjuster: "\ea05";
.icon-adjuster:before {
  content: @n-air--codepoint--adjuster;
}

@n-air--codepoint--app-speaker: "\ea06";
.icon-app-speaker:before {
  content: @n-air--codepoint--app-speaker;
}

@n-air--codepoint--arrow: "\ea07";
.icon-arrow:before {
  content: @n-air--codepoint--arrow;
}

@n-air--codepoint--arrow-bottom-border: "\ea08";
.icon-arrow-bottom-border:before {
  content: @n-air--codepoint--arrow-bottom-border;
}

@n-air--codepoint--arrow-bottom-fill: "\ea09";
.icon-arrow-bottom-fill:before {
  content: @n-air--codepoint--arrow-bottom-fill;
}

@n-air--codepoint--arrow-top-border: "\ea0a";
.icon-arrow-top-border:before {
  content: @n-air--codepoint--arrow-top-border;
}

@n-air--codepoint--arrow-top-fill: "\ea0b";
.icon-arrow-top-fill:before {
  content: @n-air--codepoint--arrow-top-fill;
}

@n-air--codepoint--blackmagic: "\ea0c";
.icon-blackmagic:before {
  content: @n-air--codepoint--blackmagic;
}

@n-air--codepoint--broadcast-border: "\ea0d";
.icon-broadcast-border:before {
  content: @n-air--codepoint--broadcast-border;
}

@n-air--codepoint--broadcast-fill: "\ea0e";
.icon-broadcast-fill:before {
  content: @n-air--codepoint--broadcast-fill;
}

@n-air--codepoint--browser: "\ea0f";
.icon-browser:before {
  content: @n-air--codepoint--browser;
}

@n-air--codepoint--character-source: "\ea10";
.icon-character-source:before {
  content: @n-air--codepoint--character-source;
}

@n-air--codepoint--check: "\ea11";
.icon-check:before {
  content: @n-air--codepoint--check;
}

@n-air--codepoint--check-circle-fill: "\ea12";
.icon-check-circle-fill:before {
  content: @n-air--codepoint--check-circle-fill;
}

@n-air--codepoint--clipboard-copy: "\ea13";
.icon-clipboard-copy:before {
  content: @n-air--codepoint--clipboard-copy;
}

@n-air--codepoint--close: "\ea14";
.icon-close:before {
  content: @n-air--codepoint--close;
}

@n-air--codepoint--close-square: "\ea15";
.icon-close-square:before {
  content: @n-air--codepoint--close-square;
}

@n-air--codepoint--color: "\ea16";
.icon-color:before {
  content: @n-air--codepoint--color;
}

@n-air--codepoint--comment: "\ea17";
.icon-comment:before {
  content: @n-air--codepoint--comment;
}

@n-air--codepoint--comment-command-border: "\ea18";
.icon-comment-command-border:before {
  content: @n-air--codepoint--comment-command-border;
}

@n-air--codepoint--comment-command-fill: "\ea19";
.icon-comment-command-fill:before {
  content: @n-air--codepoint--comment-command-fill;
}

@n-air--codepoint--comment-ng-border: "\ea1a";
.icon-comment-ng-border:before {
  content: @n-air--codepoint--comment-ng-border;
}

@n-air--codepoint--comment-ng-fill: "\ea1b";
.icon-comment-ng-fill:before {
  content: @n-air--codepoint--comment-ng-fill;
}

@n-air--codepoint--comment-send: "\ea1c";
.icon-comment-send:before {
  content: @n-air--codepoint--comment-send;
}

@n-air--codepoint--comment-setting: "\ea1d";
.icon-comment-setting:before {
  content: @n-air--codepoint--comment-setting;
}

@n-air--codepoint--comment-setting-border: "\ea1e";
.icon-comment-setting-border:before {
  content: @n-air--codepoint--comment-setting-border;
}

@n-air--codepoint--comment-setting-fill: "\ea1f";
.icon-comment-setting-fill:before {
  content: @n-air--codepoint--comment-setting-fill;
}

@n-air--codepoint--compact-mode: "\ea20";
.icon-compact-mode:before {
  content: @n-air--codepoint--compact-mode;
}

@n-air--codepoint--contents-tree: "\ea21";
.icon-contents-tree:before {
  content: @n-air--codepoint--contents-tree;
}

@n-air--codepoint--cpu: "\ea22";
.icon-cpu:before {
  content: @n-air--codepoint--cpu;
}

@n-air--codepoint--creator-promotion-program: "\ea23";
.icon-creator-promotion-program:before {
  content: @n-air--codepoint--creator-promotion-program;
}

@n-air--codepoint--creator-support: "\ea24";
.icon-creator-support:before {
  content: @n-air--codepoint--creator-support;
}

@n-air--codepoint--delete: "\ea25";
.icon-delete:before {
  content: @n-air--codepoint--delete;
}

@n-air--codepoint--delete-file: "\ea26";
.icon-delete-file:before {
  content: @n-air--codepoint--delete-file;
}

@n-air--codepoint--details-setting: "\ea27";
.icon-details-setting:before {
  content: @n-air--codepoint--details-setting;
}

@n-air--codepoint--dev: "\ea28";
.icon-dev:before {
  content: @n-air--codepoint--dev;
}

@n-air--codepoint--display: "\ea29";
.icon-display:before {
  content: @n-air--codepoint--display;
}

@n-air--codepoint--down-arrow: "\ea2a";
.icon-down-arrow:before {
  content: @n-air--codepoint--down-arrow;
}

@n-air--codepoint--download-border: "\ea2b";
.icon-download-border:before {
  content: @n-air--codepoint--download-border;
}

@n-air--codepoint--download-fill: "\ea2c";
.icon-download-fill:before {
  content: @n-air--codepoint--download-fill;
}

@n-air--codepoint--drop-down-arrow: "\ea2d";
.icon-drop-down-arrow:before {
  content: @n-air--codepoint--drop-down-arrow;
}

@n-air--codepoint--drop-fps: "\ea2e";
.icon-drop-fps:before {
  content: @n-air--codepoint--drop-fps;
}

@n-air--codepoint--drop-up-arrow: "\ea2f";
.icon-drop-up-arrow:before {
  content: @n-air--codepoint--drop-up-arrow;
}

@n-air--codepoint--edit: "\ea30";
.icon-edit:before {
  content: @n-air--codepoint--edit;
}

@n-air--codepoint--ellipsis-horizontal: "\ea31";
.icon-ellipsis-horizontal:before {
  content: @n-air--codepoint--ellipsis-horizontal;
}

@n-air--codepoint--ellipsis-vertical: "\ea32";
.icon-ellipsis-vertical:before {
  content: @n-air--codepoint--ellipsis-vertical;
}

@n-air--codepoint--emotion: "\ea33";
.icon-emotion:before {
  content: @n-air--codepoint--emotion;
}

@n-air--codepoint--extension: "\ea34";
.icon-extension:before {
  content: @n-air--codepoint--extension;
}

@n-air--codepoint--feedback: "\ea35";
.icon-feedback:before {
  content: @n-air--codepoint--feedback;
}

@n-air--codepoint--file: "\ea36";
.icon-file:before {
  content: @n-air--codepoint--file;
}

@n-air--codepoint--folder: "\ea37";
.icon-folder:before {
  content: @n-air--codepoint--folder;
}

@n-air--codepoint--follow: "\ea38";
.icon-follow:before {
  content: @n-air--codepoint--follow;
}

@n-air--codepoint--fps: "\ea39";
.icon-fps:before {
  content: @n-air--codepoint--fps;
}

@n-air--codepoint--full-mode: "\ea3a";
.icon-full-mode:before {
  content: @n-air--codepoint--full-mode;
}

@n-air--codepoint--game-capture: "\ea3b";
.icon-game-capture:before {
  content: @n-air--codepoint--game-capture;
}

@n-air--codepoint--gift: "\ea3c";
.icon-gift:before {
  content: @n-air--codepoint--gift;
}

@n-air--codepoint--help: "\ea3d";
.icon-help:before {
  content: @n-air--codepoint--help;
}

@n-air--codepoint--help-border: "\ea3e";
.icon-help-border:before {
  content: @n-air--codepoint--help-border;
}

@n-air--codepoint--help-fill: "\ea3f";
.icon-help-fill:before {
  content: @n-air--codepoint--help-fill;
}

@n-air--codepoint--hide: "\ea40";
.icon-hide:before {
  content: @n-air--codepoint--hide;
}

@n-air--codepoint--image: "\ea41";
.icon-image:before {
  content: @n-air--codepoint--image;
}

@n-air--codepoint--kbps: "\ea42";
.icon-kbps:before {
  content: @n-air--codepoint--kbps;
}

@n-air--codepoint--kebab: "\ea43";
.icon-kebab:before {
  content: @n-air--codepoint--kebab;
}

@n-air--codepoint--keyborad: "\ea44";
.icon-keyborad:before {
  content: @n-air--codepoint--keyborad;
}

@n-air--codepoint--live: "\ea45";
.icon-live:before {
  content: @n-air--codepoint--live;
}

@n-air--codepoint--lock: "\ea46";
.icon-lock:before {
  content: @n-air--codepoint--lock;
}

@n-air--codepoint--log-in: "\ea47";
.icon-log-in:before {
  content: @n-air--codepoint--log-in;
}

@n-air--codepoint--log-out: "\ea48";
.icon-log-out:before {
  content: @n-air--codepoint--log-out;
}

@n-air--codepoint--manual-extension: "\ea49";
.icon-manual-extension:before {
  content: @n-air--codepoint--manual-extension;
}

@n-air--codepoint--maximize: "\ea4a";
.icon-maximize:before {
  content: @n-air--codepoint--maximize;
}

@n-air--codepoint--media: "\ea4b";
.icon-media:before {
  content: @n-air--codepoint--media;
}

@n-air--codepoint--menu-moderator: "\ea4c";
.icon-menu-moderator:before {
  content: @n-air--codepoint--menu-moderator;
}

@n-air--codepoint--mic: "\ea4d";
.icon-mic:before {
  content: @n-air--codepoint--mic;
}

@n-air--codepoint--minimize: "\ea4e";
.icon-minimize:before {
  content: @n-air--codepoint--minimize;
}

@n-air--codepoint--minus: "\ea4f";
.icon-minus:before {
  content: @n-air--codepoint--minus;
}

@n-air--codepoint--moderator: "\ea50";
.icon-moderator:before {
  content: @n-air--codepoint--moderator;
}

@n-air--codepoint--moderator-menu-fill: "\ea51";
.icon-moderator-menu-fill:before {
  content: @n-air--codepoint--moderator-menu-fill;
}

@n-air--codepoint--moderatormenu-border: "\ea52";
.icon-moderatormenu-border:before {
  content: @n-air--codepoint--moderatormenu-border;
}

@n-air--codepoint--mute: "\ea53";
.icon-mute:before {
  content: @n-air--codepoint--mute;
}

@n-air--codepoint--n-air: "\ea54";
.icon-n-air:before {
  content: @n-air--codepoint--n-air;
}

@n-air--codepoint--namaco: "\ea55";
.icon-namaco:before {
  content: @n-air--codepoint--namaco;
}

@n-air--codepoint--near: "\ea56";
.icon-near:before {
  content: @n-air--codepoint--near;
}

@n-air--codepoint--ng-border: "\ea57";
.icon-ng-border:before {
  content: @n-air--codepoint--ng-border;
}

@n-air--codepoint--ng-fill: "\ea58";
.icon-ng-fill:before {
  content: @n-air--codepoint--ng-fill;
}

@n-air--codepoint--nicoad: "\ea59";
.icon-nicoad:before {
  content: @n-air--codepoint--nicoad;
}

@n-air--codepoint--nicolive: "\ea5a";
.icon-nicolive:before {
  content: @n-air--codepoint--nicolive;
}

@n-air--codepoint--niconico: "\ea5b";
.icon-niconico:before {
  content: @n-air--codepoint--niconico;
}

@n-air--codepoint--notification: "\ea5c";
.icon-notification:before {
  content: @n-air--codepoint--notification;
}

@n-air--codepoint--open-blank: "\ea5d";
.icon-open-blank:before {
  content: @n-air--codepoint--open-blank;
}

@n-air--codepoint--output: "\ea5e";
.icon-output:before {
  content: @n-air--codepoint--output;
}

@n-air--codepoint--pause-border: "\ea5f";
.icon-pause-border:before {
  content: @n-air--codepoint--pause-border;
}

@n-air--codepoint--pause-fill: "\ea60";
.icon-pause-fill:before {
  content: @n-air--codepoint--pause-fill;
}

@n-air--codepoint--pinned: "\ea61";
.icon-pinned:before {
  content: @n-air--codepoint--pinned;
}

@n-air--codepoint--play: "\ea62";
.icon-play:before {
  content: @n-air--codepoint--play;
}

@n-air--codepoint--play-border: "\ea63";
.icon-play-border:before {
  content: @n-air--codepoint--play-border;
}

@n-air--codepoint--play-fill: "\ea64";
.icon-play-fill:before {
  content: @n-air--codepoint--play-fill;
}

@n-air--codepoint--plus: "\ea65";
.icon-plus:before {
  content: @n-air--codepoint--plus;
}

@n-air--codepoint--program-text: "\ea66";
.icon-program-text:before {
  content: @n-air--codepoint--program-text;
}

@n-air--codepoint--question: "\ea67";
.icon-question:before {
  content: @n-air--codepoint--question;
}

@n-air--codepoint--refresh: "\ea68";
.icon-refresh:before {
  content: @n-air--codepoint--refresh;
}

@n-air--codepoint--reload: "\ea69";
.icon-reload:before {
  content: @n-air--codepoint--reload;
}

@n-air--codepoint--replay-buffer-save: "\ea6a";
.icon-replay-buffer-save:before {
  content: @n-air--codepoint--replay-buffer-save;
}

@n-air--codepoint--replay-buffer-start: "\ea6b";
.icon-replay-buffer-start:before {
  content: @n-air--codepoint--replay-buffer-start;
}

@n-air--codepoint--replay-buffer-stop: "\ea6c";
.icon-replay-buffer-stop:before {
  content: @n-air--codepoint--replay-buffer-stop;
}

@n-air--codepoint--search: "\ea6d";
.icon-search:before {
  content: @n-air--codepoint--search;
}

@n-air--codepoint--setting-border: "\ea6e";
.icon-setting-border:before {
  content: @n-air--codepoint--setting-border;
}

@n-air--codepoint--setting-fill: "\ea6f";
.icon-setting-fill:before {
  content: @n-air--codepoint--setting-fill;
}

@n-air--codepoint--settings: "\ea70";
.icon-settings:before {
  content: @n-air--codepoint--settings;
}

@n-air--codepoint--shortcut: "\ea71";
.icon-shortcut:before {
  content: @n-air--codepoint--shortcut;
}

@n-air--codepoint--simple: "\ea72";
.icon-simple:before {
  content: @n-air--codepoint--simple;
}

@n-air--codepoint--slideshow: "\ea73";
.icon-slideshow:before {
  content: @n-air--codepoint--slideshow;
}

@n-air--codepoint--sound-border: "\ea74";
.icon-sound-border:before {
  content: @n-air--codepoint--sound-border;
}

@n-air--codepoint--sound-fill: "\ea75";
.icon-sound-fill:before {
  content: @n-air--codepoint--sound-fill;
}

@n-air--codepoint--sound-off-border: "\ea76";
.icon-sound-off-border:before {
  content: @n-air--codepoint--sound-off-border;
}

@n-air--codepoint--sound-off-fill: "\ea77";
.icon-sound-off-fill:before {
  content: @n-air--codepoint--sound-off-fill;
}

@n-air--codepoint--speaker: "\ea78";
.icon-speaker:before {
  content: @n-air--codepoint--speaker;
}

@n-air--codepoint--speech-engine: "\ea79";
.icon-speech-engine:before {
  content: @n-air--codepoint--speech-engine;
}

@n-air--codepoint--spinner: "\ea7a";
.icon-spinner:before {
  content: @n-air--codepoint--spinner;
}

@n-air--codepoint--stream: "\ea7b";
.icon-stream:before {
  content: @n-air--codepoint--stream;
}

@n-air--codepoint--studio-mode: "\ea7c";
.icon-studio-mode:before {
  content: @n-air--codepoint--studio-mode;
}

@n-air--codepoint--swap-border: "\ea7d";
.icon-swap-border:before {
  content: @n-air--codepoint--swap-border;
}

@n-air--codepoint--swap-fill: "\ea7e";
.icon-swap-fill:before {
  content: @n-air--codepoint--swap-fill;
}

@n-air--codepoint--text: "\ea7f";
.icon-text:before {
  content: @n-air--codepoint--text;
}

@n-air--codepoint--trash-border: "\ea80";
.icon-trash-border:before {
  content: @n-air--codepoint--trash-border;
}

@n-air--codepoint--trash-fill: "\ea81";
.icon-trash-fill:before {
  content: @n-air--codepoint--trash-fill;
}

@n-air--codepoint--unhide: "\ea82";
.icon-unhide:before {
  content: @n-air--codepoint--unhide;
}

@n-air--codepoint--unlock: "\ea83";
.icon-unlock:before {
  content: @n-air--codepoint--unlock;
}

@n-air--codepoint--video: "\ea84";
.icon-video:before {
  content: @n-air--codepoint--video;
}

@n-air--codepoint--video-capture: "\ea85";
.icon-video-capture:before {
  content: @n-air--codepoint--video-capture;
}

@n-air--codepoint--visitor: "\ea86";
.icon-visitor:before {
  content: @n-air--codepoint--visitor;
}

@n-air--codepoint--voice-engine-border: "\ea87";
.icon-voice-engine-border:before {
  content: @n-air--codepoint--voice-engine-border;
}

@n-air--codepoint--voice-engine-fill: "\ea88";
.icon-voice-engine-fill:before {
  content: @n-air--codepoint--voice-engine-fill;
}

@n-air--codepoint--vr-google: "\ea89";
.icon-vr-google:before {
  content: @n-air--codepoint--vr-google;
}

@n-air--codepoint--warning: "\ea8a";
.icon-warning:before {
  content: @n-air--codepoint--warning;
}

@n-air--codepoint--warning-circle: "\ea8b";
.icon-warning-circle:before {
  content: @n-air--codepoint--warning-circle;
}

@n-air--codepoint--window-capture: "\ea8c";
.icon-window-capture:before {
  content: @n-air--codepoint--window-capture;
}

@n-air--codepoint--x: "\ea8d";
.icon-x:before {
  content: @n-air--codepoint--x;
}
