input[type='text'],
input[type='number'],
input[type='password'],
textarea {
  height: @item-generic-size;
  margin-bottom: 0;
  font-size: @font-size4;
  color: var(--color-text);
  cursor: pointer;
  background: var(--color-input-bg);
  border: 1px solid var(--color-border-light);
  border-radius: 4px;

  &::placeholder {
    color: var(--color-text-dark);
  }

  &:hover {
    border-color: var(--color-border-accent);
  }

  &:focus {
    background: var(--color-input-bg);
    border-color: var(--color-border-accent);
    box-shadow: none;
  }

  &.input--transparent {
    height: 20px;
    padding: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px dashed var(--color-text-dark);
    border-radius: 0;
  }

  &::selection {
    color: var(--color-bg-primary);
    background-color: var(--color-primary);
  }

  &.is-error {
    border-color: var(--color-red-light);
  }
}

.input {
  &.disabled {
    opacity: @opacity-disabled;
  }
}

.input-container {
  position: relative;
  display: flex;
  align-items: flex-start;

  &:last-of-type {
    label {
      margin-bottom: 0;
    }
  }

  .input-label {
    margin-bottom: 0;
  }

  &.input-container--no-label {
    width: 100%;

    .input-label {
      display: none;
    }

    .input-wrapper {
      width: 100%;
    }
  }

  &.input-container--no-margin {
    margin-bottom: 0;
  }
}

.input-label {
  width: 45%;
  margin-bottom: 16px;

  label {
    display: flex;
    align-items: center;
    line-height: var(--line-height-md);
    color: var(--color-object-emphasis-medium);

    &:empty {
      display: none;
    }
  }

  &.section-heading {
    label {
      color: var(--color-object-emphasis-high);
    }
  }
}

.input-wrapper {
  width: 65%;
  margin-bottom: 16px;

  .button {
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.input-wrapper--search {
  position: relative;

  &::after {
    font-family: n-air;
    line-height: @item-generic-size;
    content: @n-air--codepoint--search;
    .absolute(@top: 0, @right: 8px, @bottom: 0);
  }
}

.input--search {
  padding: 0 30px 0 8px;
}

.checkbox {
  display: block;
  margin-bottom: 0;

  label {
    padding-left: 24px;
    font-size: @font-size4;
    line-height: 20px;
    color: var(--color-text);
    cursor: pointer;

    span {
      color: var(--color-text);
    }
  }

  input[type='checkbox'] {
    top: 2px;
    width: 16px;
    height: 16px;
    margin: 0;

    & ~ label {
      &::before {
        top: 2px;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 2px solid var(--color-input);
      }
    }

    &:checked ~ label {
      &::before {
        background-color: var(--color-input-active);
        border-color: var(--color-input-active);
      }

      &::after {
        top: 4px;
        left: 2px;
        color: var(--color-bg-secondary);
        content: @n-air--codepoint--check;
        background-color: transparent;
      }
    }

    label {
      padding-left: 24px;
      font-size: @font-size4;
      line-height: 20px;
      color: var(--color-text);
      cursor: pointer;
    }

    &:disabled + label {
      cursor: not-allowed;
      opacity: @opacity-disabled;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.radio {
  margin-bottom: 0;

  label {
    line-height: 20px;
    cursor: pointer;

    &::before {
      background: transparent;
      border-color: @grey;
    }
  }
}

.toggle-item {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: 16px;
  color: var(--color-text);
}

.toggle-button {
  position: relative;
  width: 32px;
  height: 20px;
  margin: 0;
  appearance: none;
  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    .transition();
  }

  &::before {
    width: 32px;
    height: 16px;
    margin: auto;
    background-color: var(--color-border-light);
    border-radius: 8px;
  }

  &::after {
    width: 20px;
    height: 20px;
    background-color: var(--color-text);
    border-radius: 100%;
  }

  &:checked {
    &::before {
      background-color: var(--color-primary-dark);
    }

    &::after {
      left: 12px;
      background-color: var(--color-primary);
    }
  }
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

.custom-select-trigger::after {
  content: @n-air--codepoint--drop-down-arrow;
}

.form-tip {
  .radius();

  z-index: @z-index-popper;
  width: fit-content;
  padding: 8px 12px;
  font-size: @font-size2;
  color: var(--color-text-light);
  pointer-events: none;
  background-color: var(--color-bg-quaternary);
  filter: drop-shadow(@shadow);

  &::before {
    position: absolute;
    top: -5px;
    left: 0;
    width: 0;
    height: 0;
    margin-left: 24px;
    content: '';
    border: var(--color-bg-quaternary) 5px solid;
    transform: translateX(-12px) rotate(-45deg);
  }
}

.select-button-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;

  .select,
  .multiselect {
    flex-grow: 1;

    * {
      margin-bottom: 0;
    }

    & + .multiselect {
      flex-grow: 1.4;
    }
  }

  .action-icon {
    flex-shrink: 0;
  }

  .basic-button {
    margin-bottom: 0;
  }
}
