// TOOLTIPS

.tooltip {
  position: fixed;
  z-index: @z-index-tooltip;
  display: block !important;
  visibility: hidden;
  padding: 0;
  background: transparent;
  border: 0;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  // Foundation CSSの矢印を無効化
  &::before {
    display: none !important;
  }
}

.tooltip .tooltip-inner {
  .shadow();
  .radius();

  padding: 8px 12px;
  font-size: @font-size2;
  color: var(--color-tooltip-text);
  word-wrap: break-word;
  background-color: var(--color-tooltip-bg);
  border: 1px solid var(--color-tooltip-border);
}

.tooltip[x-placement^='top'] {
  margin-bottom: 10px;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 10px;
}

.tooltip[x-placement^='right'] {
  margin-left: 10px;
}

.tooltip[x-placement^='left'] {
  margin-right: 10px;
}

