# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @Koutarou-Yamamoto
replace_rules.json @Koutarou-Yamamoto
/.github/CODEOWNERS @Koutarou-Yamamoto

# designers
*.vue @yusuke-shibakiri @sei-katsumata
*.html @yusuke-shibakiri @sei-katsumata
*.less @yusuke-shibakiri @sei-katsumata
*.css @yusuke-shibakiri @sei-katsumata
/app/styles/ @yusuke-shibakiri @sei-katsumata
/media/images/ @yusuke-shibakiri @sei-katsumata
