# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusuke-shibakiri @Keiichi-Ichino
*.html @yusuke-shibakiri @Keiichi-Ichino
*.less @yusuke-shibakiri @Keiichi-Ichino
*.css @yusuke-shibakiri @Keiichi-Ichino
/app/styles/ @yusuke-shibakiri @Keiichi-Ichino
/media/images/ @yusuke-shibakiri @Keiichi-Ichino
