{
  "presets": [
    "@vue/babel-preset-jsx",
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "29.3"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-export-namespace-from",
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-transform-json-strings",
    "@babel/plugin-transform-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta"
  ]
}
