.sl-vue-tree {
    position: relative;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none;
}

.sl-vue-tree.sl-vue-tree-root {
    color: rgba(255, 255, 255, 50%);
    background-color: rgb(9, 22, 29);
    border: 1px solid rgb(9, 22, 29);
    border-radius: 3px;
}

.sl-vue-tree-root > .sl-vue-tree-nodes-list {
    position: relative;
    padding-bottom: 4px;
    overflow: hidden;
}

.sl-vue-tree-selected > .sl-vue-tree-node-item {
    color: white;
    background-color: #13242d;
}

.sl-vue-tree-node-item:hover,
.sl-vue-tree-node-item.sl-vue-tree-cursor-hover {
    color: white;
}

.sl-vue-tree-node-item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 28px;
    border: 1px solid transparent;
}


.sl-vue-tree-node-item.sl-vue-tree-cursor-inside {
    border: 1px solid rgba(255, 255, 255, 50%);
}

.sl-vue-tree-gap {
    width: 25px;
    min-height: 1px;

}

.sl-vue-tree-toggle {
    display: inline-block;
    width: 20px;
    text-align: left;
}

.sl-vue-tree-sidebar {
    margin-left: auto;
}

.sl-vue-tree-cursor {
    position: absolute;
    width: 100%;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 50%);
}

.sl-vue-tree-drag-info {
    position: absolute;
    padding: 5px 10px;
    margin-left: 20px;
    background-color: rgba(0,0,0,50%);
    opacity: 0.5;
}
